Before:

Date: {{date}}
Mass: {{mass}}

42-point text of "Upper Title", unless otherwise stated.

## 90s before Mass (stops 15s before Mass starts):

Welcome to St. Alban's Catholic Church, a parish community of the Ordinariate of the Chair of St. Peter in Rochester, NY.

Please take these moments to prepare for the Holy Hour & Evensong.

## While Fr. Evan genuflects before the altar

Exposition of the Blessed Sacrament & Evensong
according to the Daily Office of 
the Ordinariate of the Chair of St. Peter

## Penitential Rite

ALMIGHTY and most merciful Father; 
we have erred and strayed from thy ways like lost sheep; 
we have followed too much the devices and desires of our own hearts; 
we have offended against thy holy laws; 
we have left undone those things which we ought to have done; 
and we have done those things which we ought not to have done. 
But thou, O Lord, have mercy upon us, 
spare thou those who confess their faults, 
restore thou those who are penitent, 
according to thy promises declared unto mankind in Christ Jesus our Lord; 
and grant, O most merciful Father, for his sake, 
that we may ever hereafter live a godly, righteous, and sober life, 
to the glory of thy holy Name.  Amen. 

## Psalms

Psalm 141: Domine, clamavi

LORD, I call upon thee; haste thee unto me, 
and consider my voice, when I cry unto thee.
Let my prayer be set forth in thy sight as the incense;
and let the lifting up of my hands be an evening sacrifice.

Set a watch, O LORD, before my mouth,
and keep the door of my lips.
O let not mine heart be inclined to any evil thing; 
let me not be occupied in ungodly works with the men that work wickedness, neither let me eat of such things as please them.

Let the righteous rather smite me friendly, and re-prove me;
yea, let not my head refuse their precious balms.
As for the un-godly,
I will pray yet against their wickedness.

Let their judges be overthrown in stony places,
that they may hear my words; for they are sweet.
Our bones lie scattered before the pit,
like as when one breaketh and heweth wood upon the earth.

But mine eyes look unto thee, O LORD God;
in thee is my trust; O cast not out my soul.
Keep me from the snare that they have laid for me,
and from the traps of the wicked doers.
Let the ungodly fall into their own nets to-gether,
and let me ever es-cape them.

Glory be to the Father, and to the Son,
and to the Holy Ghost. 
As it was in the beginning, is now and ever shall be,
world without end. A-men.



Psalm 143: Domine, exaudi

Hear my prayer, O LORD, and consider my de-sire;
hearken unto me for thy truth and righteousness' sake.
And enter not into judgment with thy servant;
for in thy sight shall no man living be justified.

For the enemy hath persecuted my soul; he hath smitten my life down to the ground;
he hath laid me in the darkness, as the men that have been long dead.
Therefore is my spirit vexed with-in me,
and my heart within me is desolate.

Yet do I remember the time past; I muse upon all thy works;
yea, I exercise myself in the works of thy hands.
I stretch forth my hands unto thee;
my soul gaspeth unto thee as a thirsty land.

Hear me, O LORD, and that soon; for my spirit waxeth faint:
hide not thy face from me, lest I be like unto them that go down into the pit.
O let me hear thy loving-kindness betimes in the morning; for in thee is my trust:
show thou me the way that I should walk in; for I lift up my soul unto thee.

Deliver me, O LORD, from mine enemies;
for I flee unto thee to hide me.
Teach me to do the thing that pleaseth thee; for thou art my God:
let thy loving Spirit lead me forth into the land of righteousness.

Quicken me, O LORD, for thy Name's sake;
and for thy righteousness' sake bring my soul out of trouble.
And of thy goodness slay mine enemies,
and destroy all them that vex my soul; for I am thy servant.

Glory be to the Father, and to the Son,
and to the Holy Ghost. 
As it was in the beginning, is now and ever shall be,
world without end. A-men.


## Reflection

Evensong reflection by Fr. Evan Simington, parish priest for
St. Alban's Catholic Church and the Ordinariate of the Chair of St. Peter

## The General Thanksgiving

ALMIGHTY God, Father of all mercies, 
we thine unworthy servants do give thee most humble and hearty thanks 
for all thy goodness and loving-kindness to us and to all men. 

(A moment of silence will be held for those to offer their personal supplications or thanksgivings.)

We bless thee for our creation, preservation, 
and all the blessings of this life; but above all for thine inestimable love 
in the redemption of the world by our Lord Jesus Christ, 
for the means of grace, and for the hope of glory. 
And, we beseech thee, give us that due sense of all thy mercies,
that our hearts may be unfeignedly thankful; 

and that we show forth thy praise,
not only with our lips, but in our lives, 
by giving up ourselves to thy service,
and by walking before thee 
in holiness and righteousness all our days;
through Jesus Christ our Lord, 
to whom, with thee and the Holy Ghost,
be all honor and glory, world without end.
Amen. 


## After

Use the after-mass image

# Post Title
Holy Hour of Adoration & Evensong on {{date}} at St. Alban's Catholic Church

## Body

Welcome to our 7 p.m. First Friday Holy Hour of Adoration & Evensong on {{date}}.

St. Alban's Catholic Church is a parish community of the Ordinariate of the Chair of St. Peter in Rochester, N.Y. The Ordinariate is a Catholic diocese with Anglican traditions founded by the pope. 

We invite you to please support St. Alban's mission and ministry during the COVID-19 coronavirus pandemic through online giving at stalbanscatholic.com/give and stay connected with us by subscribing to our YouTube channel, Facebook page, and our Flocknotes (sign up at stalban.flocknote.com).

