Video banner:

Midweek Message from Father Nathan Davis
St. Alban's Catholic Church - Ordinariate of the Chair of St. Peter in Rochester, N.Y.

Post title:

Midweek Message from St. Alban's Fr. Nathan Davis - July 9, 2020

Post body:

Here is your midweek message from Fr. Nathan Davis, the parish priest serving St. Alban's Catholic Church.

St. Alban's is a parish community of the Ordinariate of the Chair of St. Peter, making disciples of Jesus Christ in the Rochester, N.Y. area.

We invite you to please support St. Alban's mission and ministry during the COVID-19 coronavirus pandemic through online giving at https://stalbanscatholic.com/give

Stay connected with us by subscribing to our YouTube channel, Facebook page, and our Flocknotes -- sign up at https://stalban.flocknote.com/

