[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
ffmpeg-python = "*"

[requires]
python_version = "3.8"

[scripts]
make_video = "python make_video.py"

