## INSTRUCTIONS FOR POSTING ON YOUTUBE AND FACEBOOK:

Please make sure there are no subtitles on.  

### YouTube Script:
Input basic information:

Title: {{mass}} at St. Alban's Catholic Church – {{date}}

Body:
Welcome to the {{time}} Divine Worship Mass for the {{massCount}}
{%- if massCommon %}, commonly called {{massCommon}}{% endif %}, on {{date}}, at St. Alban's Catholic Church, a parish community of the Ordinariate of the Chair of St. Peter in Rochester, N.Y. The Ordinariate is a Catholic diocese with Anglican traditions founded by the pope.

You can follow along with the pew missal here:
https://stalbanscatholic.com/documents/2020/5/St%20Albans%20Pew%20Missal.pdf

And with the worship aid here:
{{worship_aid_url}}

We invite you to please support St. Alban's mission and ministry during the COVID-19 coronavirus pandemic through online giving at https://stalbanscatholic.com/give and stay connected with us by subscribing to our YouTube channel, Facebook page, and our Flocknotes -- sign up at https://stalban.flocknote.com/

#Ordinariate #CatholicChurch #DivineWorshipMass #Catholicism #spiritualcommunion #massathome #homechurch #coronavirus #covid19 #Anglicantradition

[Feel free to add tags]

2. Add end credit in upper right hand corner inviting people to subscribe to our channel from St. Michael’s Prayer to the end. 
3. Schedule the video to premiere at 11:00 AM ET. 

### Facebook Script:

https://business.facebook.com/creatorstudio

Input basic information

Title: 

St. Alban’s Divine Worship Mass for {{mass}} {{year}}

(Note: When it comes to choosing whether to use the official title vs common title, such as between Sixth Sunday of Easter or Rogation Sunday, I tend to err on using the common title (Divine Mercy Sunday, Candlemas, Corpus Christi Sunday, Gaudete Sunday, Laetare Sunday, etc.). It keeps titles shorter. However, I make sure the full name of the Sunday is in the body itself.)

Body:

Welcome to St. Alban’s {{time}} Divine Worship Mass for the {{massCount}}
{%- if massCommon %}, commonly called {{massCommon}}{% endif %}. Our parish priest is {{priest}}. Please join us for a virtual coffee hour after Sunday Mass over Zoom at 12:15 P.M.

You can follow along with the pew missal here:
https://stalbanscatholic.com/documents/2020/5/St%20Albans%20Pew%20Missal.pdf

And with the worship aid here:
{{worship_aid_url}}

We invite you to please support St. Alban's mission and ministry at https://stalbanscatholic.com/give and stay connected with us by subscribing to our YouTube channel, Facebook, Instagram, and our Flocknotes  -- sign up at https://stalban.flocknote.com/



## Notes

Last exoprt: 3.8 GB, 1920x1080, mp4
