# Here is the In Video script for editing St. Alban’s Mass:

Place text at these cues:

Date: {{date}}
Mass: {{mass}}

42-point text of "Upper Title", unless otherwise stated.

## Two minutes before Mass (stops 30 sec. before Mass starts):

The Divine Worship Mass for {{mass}} {{year}} at St. Alban’s Catholic Church,
a parish community of the Ordinariate of the Chair of St. Peter in Rochester, N.Y.

Please take these few minutes to prayerfully prepare for Mass.

## Psalm:

(Google the first line Gil sings, then make sure everything else matches too)

{% for line in psalm %}
{{line}}
{% endfor %}
 
## Announcements:

(Use announcements-background.png and make sure to change from "Ken Burns" to "Fit")

Stay up to date with all St. Alban’s news and events by signing up for our St. Alban’s Flocknotes (stalban.flocknote.com). We invite you to subscribe to our St. Alban's Catholic Church YouTube, Instagram & Facebook as well.

## Offertory:

(Use offertory-background.png with a 1-second fade, and make sure to change from "Ken Burns" to "Fit")

For your Sunday offering, we invite you to make it online at StAlbansCatholic.com/give, or by mail to
St. Alban’s Catholic Church c/o Fr. Evan Simington, 445 Kings Highway S., Rochester, NY 14617
 
 
## Prayer of Humble Access (after Agnus Dei): 

We do not presume to come to this thy Table, O merciful Lord, trusting in our own righteousness, but in thy manifold and great mercies. We are not worthy so much as to gather up the crumbs under thy Table. But thou art the same Lord whose property is always to have mercy.

Grant us therefore, gracious Lord, so to eat the flesh of thy dear Son Jesus Christ, and to drink his Blood, that our sinful bodies may be made clean by his Body, and our souls washed through his most precious Blood, and that we may evermore dwell in him, and he in us. Amen.
 
## At Communion:

(For about a minute)

In union, dear Lord, with all the faithful at every altar of thy Church where the blessed Body and Blood are being offered to the Father, I desire to offer thee praise and thanksgiving. I believe thou art truly present in the Most Holy Sacrament.

And since I cannot now receive thee sacramentally, I beseech thee to come spiritually into my heart. I unite myself unto thee, and embrace thee with all the affections of my soul. Let me never be separated from thee. Let me live and die in thy love.  Amen.
 
### Postlude (optional):
Anima Christi: “Soul of Christ, sanctify me. Body of Christ, save me. Blood of Christ, inebriate me. Water from the side of Christ, wash me. Passion of Christ, strengthen me. O good Jesus, hear me. Within Thy wounds hide me. Separated from Thee let me never be. From the malignant enemy, defend me. At the hour of death, call me. And close to Thee bid me. That with Thy saints I may be praising Thee, forever and ever. Amen.”

### St. Michael Prayer:
St. Michael the Archangel, defend us in battle. Be our protection against the wickedness and snares of the devil; May God rebuke him, we humbly pray; And do thou, O Prince of the Heavenly Hosts, by the power of God, cast into hell Satan and all the evil spirits that prowl about the world seeking the ruin of souls. Amen.


### End of St. Michael Prayer:
TODO: Make this its own image
(Fade out with full page view)
(Make sure to only give this between 20 to 30 seconds before ending the film. Make sure to cut off the end of the video before they turn off the camera.)

Please subscribe to St. Alban’s YouTube, Facebook, Instagram, and Flocknotes (stalban.flocknote.com) to stay connected with us and spiritually enriched.

We invite you to support St. Alban’s mission by going to stalbanscatholic.com/give

May God bless you!
 